.player {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 250px;
    background-color: rgba(50, 50, 50, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 18px;
        margin-left: 16px;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.playerActive {
    background-color: orange !important;
}