<div *ngIf="!gameOver" class="scrollContainer">
    <app-player (click)="editPlayer(i)" class="hideMobile zIndex" *ngFor="let player of game.players; let i = index;"
        [playerActive]="i == game.currentPlayer" [name]="player">
    </app-player>
</div>

<div *ngIf="!gameOver" class="scrollContainerMobile">
    <app-player-mobile (click)="editPlayer(i)" class="hideDesktop zIndex"
        *ngFor="let player of game.players; let i=index;" [playerActive]="i == game.currentPlayer" [name]="player">
    </app-player-mobile>
</div>

<div *ngIf="gameOver" class="gameOver">
    <img src="./../../assets/img/gameOver2.png">
    <div class="restartButton">
        <button (click)="restartGame()">Restart Game</button>
    </div>
</div>

<div *ngIf="!gameOver" class="playground">
    <div class="cardStack">
        <!-- Card Stack -->
        <img *ngFor="let card of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/card_cover.png">
        <img *ngIf="playerAdded" (click)="takeCard()" class="topCard" style="right: 25px;"
            src="assets/img/card_cover.png">

        <!-- current card animation -->
        <img (click)="takeCard()" *ngIf="game.takeCardAnimation" class="takeCard" style="right: 25px;"
            src="assets/img/cards/{{ game.currentCard }}.png">

        <!-- Stack for played cards  -->
        <img *ngFor="let card of game.playedCards" class="playedCards" src="assets/img/cards/{{ card }}.png">
    </div>
</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="pinBottom"></app-game-info>

<button *ngIf="!gameOver" mat-fab color="primary" (click)="openDialog()" class="addButton">
    <mat-icon>add</mat-icon>
</button>