.playground {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/playground.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.topCard {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.takeCard {
    animation: take-card-animation 1s ease-in-out;
    transform: scale(1.2) translateX(140px) translateY(-180px) rotate(10deg);
}

.playedCards {
    right: 25px;
    animation: take-card-animation 1s ease-in-out;
    transform: scale(1.2) translateX(140px) translateY(-180px) rotate(10deg);
}

@keyframes take-card-animation {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2) translateX(140px) translateY(-180px) rotate(10deg);
    }
}

.playerPosition {
    position: absolute;
    right: 0;
    z-index: 1;
}

.zIndex {
    z-index: 1;
}

.addButton {
    position: absolute;
    right: 32px;
    bottom: 28px;
}

.pinBottom {
    position: absolute;
    bottom: 15px;
    left: 100px;
    right: 100px;
}

.scrollContainer {
    max-height: 450px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto, hidden;
    overflow-x: hidden;

    app-player {
        margin-top: 6px;
    }
}

.scrollContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.scrollContainer {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scrollContainerMobile {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;

    app-player-mobile {
        margin-left: 6px;
    }
}

app-player,
app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.15);
    }
}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(6, 25, 27);
}

@media (max-width: 720px) {
    .pinBottom {
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}