html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .hideMobile {
        display: none;
    }
}

@media (min-width: 1000px) {
    .hideDesktop {
        display: none;
    }
}